<section class="strategic-process">
    <div class="strategic-process__top">
        @@include('../title-underline/_title.html',
        {"Yellow": "Strategic","Weight":"Process"})
        <div class="projects-top-navigation">
            <ul class="projects-top-navigation__menu">
                <a class="projects-top-navigation__link" href="#">
                    <li class="projects-top-navigation__link-item">ALL WORKS</li>
                </a>
                <a class="projects-top-navigation__link" href="#">
                    <li>GAMES</li>
                </a>
                <a class="projects-top-navigation__link" href="#">
                    <li>APPLICATIONS</li>
                </a>
                <a class="projects-top-navigation__link" href="#">
                    <li>CONTENT DEVELOPMENT</li>
                </a>
            </ul>
        </div>
    </div>
</section>