.main {
    padding: 73px 0 38px 0;
    display: grid;
    grid-template-columns: 27.24% 72.86%;
    grid-template-rows: auto auto;
    color: #ffffff;
}
.main-sidebar {
    background-color: #000000;
    padding: 122px 97px 45px 28px;
    

		&__title {
            font-size: 60px;
            letter-spacing: -3px;
            font-weight: bold;
            
            &:first-letter{
                color: #ffc600;
            }
        }
}
.main-sidebar-menu {
    max-width: 115px;
    padding: 29px 0 ;
    border-bottom: 2px solid #ffc600;
         
	&__link {
        font-size: 16px;
        line-height: 36px;
        font-weight: bold;
        color: #ffffff;
        transition: all 0.5s; 
        &:hover{
            color: #ffc600;
            transform: scale(1, 1.8);
        }
        
    }
       
}

.main-sidebar-imgs {
    display: flex;
    padding: 14px 0 0 2px;

		&__link {
            padding-right: 5px;
        }
}
.main-content {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    } 
    
   

	&__title {
        position: absolute;
        font-size: 111px;
        line-height: 89px;
        color: #ffffff;
        font-weight: bold;
        top: 60%;
        left: 5%;
        &::first-letter{
            color: #ffc600;
        }
        
    }
}


