<div #swiperRef="" class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="item">
          <span>Знакомства</span>
         <img src="../../img/overview/Layer 140.png" alt="">
         <p>Отношения актеров в кино и в реальной жизни</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="item">
          <span>Знакомства</span>
         <img src="../../img/overview/Layer 141.png" alt="">
         <p>Отношения актеров в кино и в реальной жизни</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="item">
          <span>Знакомства</span>
         <img src="../../img/overview/Layer 142.png" alt="">
         <p>Отношения актеров в кино и в реальной жизни</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="item">
          <span>Знакомства</span>
         <img src="../../img/overview/Layer 143.png" alt="">
         <p>Отношения актеров в кино и в реальной жизни</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="item">
          <span>Приколы</span>
         <img src="../../img/overview/Layer 144.png" alt="">
         <p>Отношения актеров в кино и в реальной жизни</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="item">
          <span>Авто</span>
         <img src="../../img/overview/Layer 145.png" alt="">
         <p>Отношения актеров в кино и в реальной жизни</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="item">
          <span>Знакомства</span>
         <img src="../../img/overview/Layer 146.png" alt="">
         <p>Отношения актеров в кино и в реальной жизни</p>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div> 