
.parallax {
    height: 478px;
    position: relative;
    overflow: hidden;
}
.parallax-img {
    position: absolute;
    background: linear-gradient(to right, rgba(107, 60, 92, 0.39), rgba(30, 42, 76, 0.39)), url('../../img/services/Layer\ 26.png') ; 
    -webkit-background-size: cover;
    background-size: cover;
    background-position:center;
    width: 110%;
    height: 110%;
    transition: all 0.1s ease;  
}



.services {
 position: relative;
 
 
// background-attachment: scroll;




}
.services-top{
    position: absolute;
    padding: 41px 30px 0 50px;
}

.serveces-content {
    position: absolute;
    padding-top: 200px;
    
    // display: flex;
    // align-items: flex-end;
    
   
   

}
.services-content-items {
    display: grid;
    grid-template: repeat(2,1fr)/repeat(2,1fr);
   
   
    
    

}
.services-content-item {
    color: #ffffff;
    // padding: 0 0 65px 0;
   

		&__title {
            font-size: 18px;
            padding-bottom: 26px;
            

        }
        &__text{
            font-size: 11px;
            

        }
}

