
.parallax-window {
    min-height: 478px;
    background: transparent;
    background: linear-gradient(to right, rgba(107, 60, 92, 0.39), rgba(30, 42, 76, 0.39)); 
    -webkit-background-size: cover;
    background-size: cover;
    background-position:center;
}




.services {
    position: relative;
 
 
 




}
.services-top{
    position: absolute;
    padding: 41px 30px 0 50px;
    
}

.serveces-content {
    position: absolute;
    padding: 150px 0 0 478px;
    
    
    
   
   

}
.services-content-items {
    display: grid;
    grid-template: repeat(2,1fr)/repeat(2,1fr);
   
   
    
    

}
.services-content-item {
    color: #ffffff;
    max-width: 285px;
    padding: 0 93px 65px 20px;
   

		&__title {
            font-size: 18px;
            padding-bottom: 26px;
            

        }
        &__text{
            font-size: 11px;
            

        }
}

