<div class="container">
    <section class="projects">
       <div class="projects-top">
           @@include('../title-underline/_title.html',
           {"Yellow": "Featured","Weight":"Projects",
        "Letter":"blue"})
           <div class="projects-top-navigation">
               <ul class="projects-top-navigation__menu">
                   <a class="projects-top-navigation__link" href="#">
                       <li class="projects-top-navigation__link-item">ALL WORKS</li>
                   </a>
                   <a class="projects-top-navigation__link" href="#">
                       <li>GAMES</li>
                   </a>
                   <a class="projects-top-navigation__link" href="#">
                       <li>APPLICATIONS</li>
                   </a>
                   <a class="projects-top-navigation__link" href="#">
                       <li>CONTENT DEVELOPMENT</li>
                   </a>
               </ul>
           </div>
       </div>
       <div class="projects-content">aefafaf
           <div class="projects-content__items">
            <div class="projects-content__item"></div>
            <div class="projects-content__item"></div>
            <div class="projects-content__item"></div>
            <div class="projects-content__item"></div>
            <div class="projects-content__item"></div>
            <div class="projects-content__item"></div>
            <div class="projects-content__item"></div>
            <div class="projects-content__item"></div>
           </div>
       </div>
    </section>
</div>

