<div class="container">
    <section class="projects">
       <div class="projects-top">
           @@include('../title-underline/_title.html',
           {"Yellow": "Featured","Weight":"Projects"})
           <div class="projects-top__menu"></div>
       </div>
       <div class="projects-content">
           <div class="projects-content__items">
            <div class="projects-content__item"></div>
            <div class="projects-content__item"></div>
            <div class="projects-content__item"></div>
            <div class="projects-content__item"></div>
            <div class="projects-content__item"></div>
            <div class="projects-content__item"></div>
            <div class="projects-content__item"></div>
            <div class="projects-content__item"></div>
           </div>
       </div>
    </section>
</div>

<!-- @@include('./partials/article/_articles.html',
{"Header":"Last News",
"Border":"blue"}) -->