<div class="container">
    <section class="projects">
       <div class="projects-top">
           @@include('../title-underline/_title.html')
           <div class="projects-top__menu"></div>
       </div>
       <div class="projects-content">
           <div class="projects-content__items">
            <div class="projects-content__item"></div>
            <div class="projects-content__item"></div>
            <div class="projects-content__item"></div>
            <div class="projects-content__item"></div>
            <div class="projects-content__item"></div>
            <div class="projects-content__item"></div>
            <div class="projects-content__item"></div>
            <div class="projects-content__item"></div>
           </div>
       </div>
    </section>
</div>