.projects-top {
}
.projects-top-navigation {
            max-width: 295px;
            margin: 23px 0 0 81px;
            
           

		&__menu {
            display: flex;
           
            
        }

		&__link {
            font-size: 9px;
            color: #101010;
            font-weight: bold;
            &>li:not(.projects-top-navigation__link-item){
                padding-left: 18px;
            }
            &:hover{
                
            }
            

        }

        &__link-item{
            padding-right: 20px;
        }
}


