    <div class="plus__main">
        <div class="container2 four__collumns">
            <div class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            <div class="read__more">read more...</div></div>
            <div class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            <div class="read__more">read more...</div></div>
            <div class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            <div class="read__more">read more...</div></div>
            <div class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            <div class="read__more">read more...</div></div>
        </div>
        <div class="meet">Meet the team</div>
        <div class="container3 three__collums">
            <div class="member">
                <div class="name"><div class="value">Hoof</div> - Lead Designer</div>
                <div class="main__img"><img src="../../img/Layer 7.svg" alt="Layer" class="img"></div>
                <div class="description">Hoof is our most talanted designer. However he`s not the talkative type and I would advise not getting on the wrong side of him.</div>
            </div>
            <div class="member">
                <div class="name"><div class="value">Nibs</div> - CEO/Director</div>
                <div class="main__img"><img src="../../img/Layer 8.svg" alt="Layer" class="img" ></div>
                <div class="description">Nibs is our go to woman. She’s the ceo/director of orange rabbit and runs fast when she has too</div>
            </div>
            <div class="member">
                <div class="name"><div class="value">Squawk</div> - Developer</div>
                <div class="main__img"><img src="../../img/Layer 9.svg" alt="Layer" class="img"></div>
                <div class="description">Squawk is no social bunny. But when it comes to programming he stands out from the crowd.</div>
            </div>
        </div>
        <div class="container4 message">
            <div class="send">Send us a message...</div>
            <div class="user">
                <P>Name</P><input type="text" name="username" class="in">
            </div>
            <div class="user">
                <p>Email</p><input type="mail" name="usermail" class="in">
            </div>
            <div class="user">
                <p>Message</p><textarea name="usermassage"  class="high"></textarea> 
            </div>
            <div class="user">
                <button type="submit" class="sub">Submit</button>
            </div>
        </div>
    </div>