.main {
  background-image: url("./img/big-orange-bg\ \(1\).png");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid orange;


}

.main .container {
  height: 100%;
  display: flex;
  align-items: center;
 

}

.questions {
  margin-left: 10px;
  display: flex;
  align-items: center;
  flex-direction:column;
  font-size: 37px;
  
  


}

@font-face {
  font-family: 'Bebas';
  src: url('../fonts/Bebas.ttf');
}



.first-question {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 381px;
  height: 66px;
  background-color: #000000;
  margin-bottom: 26px;
  color: #fb9c06;
  font-family: 'Bebas';
  
}




.second-question {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffaf11;
  color: #6e6d6b;
  font-family: 'Bebas';
  line-height: 26px;
  width: 396px;
  height: 76px;
  text-align: justify;						 
	text-align-last: justify;

  

}

.plus__main {
  max-height: 1310px;
}

.four__collumns {
  display: flex;
  
  
}

.lorem {
  font-size: 15px;
  line-height: 23px;
  color: #000000;
  font-family: "Calibri";
  width: 262px;
  height: 216px;
  padding: 2em  1.5em  0px;
}

.read__more {
  text-align: right;
  color: #ffac00;
  font-size: 17px;
  margin: 0px;
  font-style: italic;
}

.container3 {
  max-width: 1200px;
  margin: 0px auto;
  height: 550px;
  
}

.meet {
  margin: 0px auto;
  font-size: 40px;
  line-height: 23px;
  text-decoration: underline;
  color: #ff9c00;
  font-weight: 250;
  font-family: "St Marie";
  height: 110px;
  max-width: 1200px;
  padding: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.three__collums, .name, .main__img {
  display: flex;
  justify-content:center ;
  flex-wrap: wrap;
 
  

}

.member {
  width: 33.3%;
  
  
 
}

@media all and (max-width:700px) { 
  .member {width: 100%;}
  
}

.img{
  border-radius: 50%;
  background-color: #ffb540;
  margin-top: 30px;
  max-width: 100%;
  max-height:100%;
  min-width: 300px;
 
  
}




.description{
  font-size: 15px;
  line-height: 23px;
  color: #333333;
  font-weight: 300;
  font-family: "Calibri";
  padding: 2em 6.5em 0px ;
}

.name {
font-size: 22px;
 line-height: 23px;
 color: #6e6d6b;
 font-weight: 300;
 font-family: "Calibri";
}

.value {
  color: #fb9c06;
}


.container4 {
  max-width: 1200px;
  margin: 0px auto;
  height: 515px;

}

.send{
  text-align: center;
  font-size: 40px;
  line-height: 23px;
  text-decoration: underline;
  color: #ff9c00;
  font-weight: 250;
  font-family: "St Marie";
  margin: 32px auto;
}

p {
  font-size: 24px;
  line-height: 23px;
  color: #fb9c06;
  font-weight: 250;
  font-family: "St Marie";
}

.user {
  display: flex;
  align-items: center;
  position: relative;
}

.in {
  width: 1070px;
  position: absolute;
  right: 0px;
  height: 30px;
  top: 33.3%;

}

.high {
  width: 1070px;
  position: absolute;
  right: 0px;
  height: 80px;
  top: 33.3%;
}

.sub {
  background-color: orange;
  font-size: 30px;
  line-height: 23px;
  color: #ffffff;
  font-weight: 250;
  font-family: "St Marie";
  height: 45px;
  width: 175px;
  position: absolute;
  right: 1em;
  bottom: -3.5em;
}
