.rabbit {
  width: 50%;
  max-height: 130px;
  background: url("./img/Shape\ 9.png") left no-repeat;
    
}
 
.orange{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 130px;
  
 

 }

.or {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  font-size: 37px;
  color: #fb9c06;
  margin: 0px;
  padding-right: 3em;
 
  
}
 
.rab {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  font-size: 37px;
  color: #6e6d6b;
  margin: 0px;
  padding-right: 3em;
  
  
}


.menu__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 130px;
  position: relative;
  padding-bottom: 20px;
  
  
}


.bg-about {
  width: 23px; height: 44px;
  background: url('./img/css_sprites.png') -10px -131px no-repeat;
}


.bg-blog {
  width: 40px; height: 40px;
  background: url('./img/css_sprites.png') -147px -10px no-repeat;
}


.bg-contact {
  width: 50px; height: 34px;
  background: url('./img/css_sprites.png') -10px -77px no-repeat;
}


.bg-home {
  width: 54px; height: 47px;
  background: url('./img/css_sprites.png') -10px -10px no-repeat;
}


.bg-work {
  width: 43px; height: 43px;
  background: url('./img/css_sprites.png') -84px -10px no-repeat;
}


.menu__content{
  width: 100%;
  position: absolute;
  display: inline-block;

   
  
}

.words{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  font-size: 22px;
  color: #9e9b9b;
  text-align: justify;						 
	text-align-last: justify;
  padding-top: 90px;

}



.four__collumns {
  display: flex;
  
  
}

.lorem {
  font-size: 15px;
  line-height: 23px;
  color: #000000;
  font-family: "Calibri";
  width: 262px;
  height: 216px;
  padding: 2em  1.5em  0px;

  
}

.read__more {
  text-align: right;
  color: #ffac00;
  font-size: 17px;
  margin: 0px;
  font-style: italic;
}