
.title { 
    display: flex;  
    font-size: 30px;
    color: #000000;
    font-weight: bold;   
    &__yellow {
        margin-right: 10px;
        &:first-letter{
            font-size: 50px;
            color: #ffc600;
        }
     
    }

    &__weight {
        &:first-letter{
            font-size: 50px;
        }  
    }
        
        
    
}
.underline {
    &:after{
        content: '';
        display: flex;
        flex: 0 0 auto;
        align-items: flex-end;
        height: 1px;
        width: 90px;
        background-color: #c5c5c5;

    }  
}





