
.title { 
    margin: 51px 872px 0 81px;
    display: inline-flex;  
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    line-height: 30px;
   
    
    &__yellow {
        margin-right: 10px;
        &:first-letter{
            font-size: 50px;
            color: #ffc600;
        }
     
    }

    &__weight {
        &:first-letter{
            font-size: 50px;
        }  
    }
        
        
    
}
.underline { 
    &:after{ 
        content: '';
        display: flex;
        flex: 0 0 auto;
        height: 1px;
        width: 110px;
        margin-left: 160px;
        background-color: #c5c5c5;

    }  
}





