$fcyellow:#ffc600;

.blogs {
    display: grid;
    grid-template-columns: 33.33% 66.66%;
    grid-template-rows: auto auto;
    @media screen and (min-width: 320px) and (max-width: 1200px)  {
        position: relative;
        padding: 50px 0;
        display: flex;      
    }
}    
.blogs-sidebar {
    padding-bottom: 35px;
    @media screen and (min-width: 320px) and (max-width: 1200px)  {
        position: absolute;
        top: 0;
        left: -100%;
    }
}
.blogs-navigation {
    padding: 55px 0 50px 115px;
              
}
.blogs-navigation-menu {

		&__link {
            font-size: 18px;
            color: #000000;        
            padding-bottom: 20px;
            transition: all 2s;
            &:hover{
                color: $fcyellow;
                transform: scale(1.2);
            }
            
        }
}
.blogs-content {
   padding: 0;
   @media screen and (min-width: 320px) and (max-width: 1200px)  {
     width: 100%;   
       
    }
 
}
.blogs-content-row {
    display:flex;
    @media screen and (min-width: 320px) and (max-width: 1200px)  {
       width: 100%;
       justify-content: space-around;

       
          
    }
                  
	&__item {
        padding-top: 49px;
        padding-right: 80px;
        text-align: left;
        @media screen and (min-width: 320px) and (max-width: 1200px)  {
           padding: 0;
           text-align: center;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           
        }
                          
    }
	&__item-img {
        overflow: hidden;
        position: relative;
        padding: 103px 90px;
        @media screen and (min-width: 320px) and (max-width: 1200px)  {
            padding: 0;
            height: 186px;
            width: 140px;
            
        }    

        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50%;
            position: absolute;
            top: 0;
            left: 0;
            @media screen and (min-width: 320px) and (max-width: 1200px)  {
                position: relative;
                width: 100%;
                height: 100%;
            }    
        }

        .tashism{
            object-fit: none;
            object-position: 40% 20%;     
        }

          
            
    }

	&__item-data {
        display: block;
        font-size: 18px;
        color: $fcyellow;
        padding: 10px 0 30px;
        @media screen and (min-width: 320px) and (max-width: 1200px)  {
            padding: 0;
        }
            
    }

	&__item-first-text {
        font-size: 15px;
        padding-bottom: 18px;
        @media screen and (min-width: 320px) and (max-width: 1200px)  {
            padding: 0;
        }
    }

	&__item-second-text {
        font-size: 12px;
        font-style: oblique;
        padding-right: 43px;
        @media screen and (min-width: 320px) and (max-width: 1200px)  {
            padding: 0;
        }        
    }

	&__item-img--background{
       
        background-color: #000;
    }
}
