.team {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.team-top {
}
.team-content {
    position: relative;
    padding-top: 70px;
   
    
    
}
.team-text{
    max-width: 465px;
}
.team-content-items {
    display: flex;
    
    

		&__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

		&__item-img {
            overflow: hidden;
            
            // max-width: 181px;
            // height: 186px;
            
           
            
            & img{
                
                width: 181px;
                height: 186px;
                object-fit: cover;
                
                
               
              
                
                
                     
                 
    
            }          
        }

		&__item-name {}

		&__item-position {}
}
