.team {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.team-top {
}
.team-content {
    position: relative;
    padding-top: 70px;
   
    
    
}
.team-text{
    max-width: 465px;
}
.team-content-items {
    
    

		&__item {
            overflow: hidden;
        }

		&__item-img {
            max-height: 181px;
            margin-left: -150px;
        }

		&__item-name {}

		&__item-position {}
}
