<section class="contacts">
   <div class="contacts-map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16284.877068533282!2d18.05180843955078!3d59.3227752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f77e30777f5d3%3A0x51a00ed0e8c55045!2sSublime!5e0!3m2!1sru!2sby!4v1635347828090!5m2!1sru!2sby" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
   </div>
   <div class="contacts-content">
    @@include('../title-underline/_title.html',
    {"Yellow": "Blogs","Weight":"","Blogs":"Leftpadd",
    "Blog":"Blogsline"})
    <div class="contacts-content__our-contacts"></div>
   </div>
</section>