.contacts {
    background-color: #2046b3;
    width: 100%;
    max-height: 684px;
    display: flex;
}
.contacts-map {
    max-width: 40%;
}
.contacts-content {
    padding: 52px 0 0 89px;
    max-width: 60%;

		&__feedback {
            color: #ffffff;
            padding: 62px 0 68px 20px;
            border-bottom: 2px solid #c5c5c5;;
            &>p {
                font-size: 16px;
                font-weight: bold;
                &>span {
                    font-size: 12px;
                    
                }     
            }
            &>p:first-child{
                padding-bottom: 35px;
                
                
            }
            &>p:nth-child(2){
                padding-bottom: 25px;
            }
            &>p:nth-child(3){
                padding-bottom: 15px;
            }
            
        }
        

		&__links {}

		&__link {}
}
.contacts-content-form {
    max-width: 412px;
    padding-top: 29px;
    &__about-you>input, textarea {
        background-color: #2046b3;
        border: 2px solid #c5c5c5;
        padding: 8px 0 3px 11px;
        &:focus{
            background-color: #ffffff;
            box-shadow: 0 0 3px 5px #bcc0b9fd;
        } 
    

    }
    
      
    
    

	&__button {
        margin-top: 22px;
        width: 108px;
        height: 33px;
        background-color: #ffc600;
        font-size: 16px;
        color: #000000;
        font-weight: bold;
        padding-top: 5px;
        border-radius: 4px;
        &:hover {
            box-shadow: 0 0 4px 6px #fdcf00;
            font-size: 20px;

        }
        &:active{
            background-color: red;
            box-shadow: 0 0 4px 6px #e01607;
            font-size: 20px;
            
        }
    }
}

iframe {
    max-width: 478px;
    height: 100%;
}

#UserName{
    width: 100%;
       
}

#UserPhone{
    width: 38%;
    margin: 18px 47px 10px 0;
}

#UserEmail {
    width: 50%;
    margin: 18px 0 10px 0;
}

#UserMessage{
    width: 100%;
    height: 70px;
    resize: none;
    
}



   input::placeholder {
       color: #ffffff;
       font-size: 16px;
       font-weight: bold;
        
       

    }

   textarea::placeholder {
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        
 
    }


.number-street {
    padding-left: 40px;
   
}     

.number-phone{
    padding-left: 49px;
}


.email {
    padding-left: 55px;

}