.icons:after {
    content: url('./img/icon/Shape\ 75\ copy\ 5.png');
    position: relative;
    background: url('./img/icon/Shape\ 76\ copy\ 5.png') right no-repeat;
    padding: 2px 22px 0 0;
    top: 2px;
    left: 8px;
   
  }

  .icon-foto:after {
    content: '';
    background: url('./img/icon/Shape\ 75\ copy\ 5.png') right no-repeat;
    padding-right: 22px;
   
  }

  .icon-video:after {
    content: '';
    background: url('./img/icon/Shape\ 76\ copy\ 5.png') right no-repeat;
    padding-right: 22px; 
  }

  .icon-bottom:after {
    content: url('./img/icon/Shape\ 75\ copy\ 5.png');
    position: relative;
    top: 20px;
    left: -50px;
  }

  .item__img{
    position: relative;
  }
  
  .item__img:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('./img/icon/Shape\ 75\ copy\ 4.png') 5px 65px no-repeat;
   
  
    
  }