// .about{
//     position: relative;
//     text-align: center;
//   }
  
//   .about__about:after{
//     content: '';
//     width: 50px;
//     background-color: #000;
//     position: absolute;
//     height: 1px;
//     bottom: 0;
//     margin-left: -25px;
//     left: 50%;
  
  
//   }
.about-sublime-top {
    display: flex;
    
    



.about-sublime-title {
    display: flex;
    flex-direction: column;
    line-height: 50px;
    position: relative;
    &:after{
     content: '';
     width: 90px;
     background-color: #c5c5c5;
     position: absolute;
     height: 1px;
     bottom: 3px;
     margin-left: -25px;
     left: 80%;
    }
    &__about {
     margin: 68px 0 0 137px;
     font-size: 30px;
     color: #717171;
     font-weight: bold;
     &:first-letter{
         font-size: 50px;
        }    
    }
    &__Sublime {
     margin: 0 0 0 133px;
     font-size: 80px;
     color: #000000;
     font-weight: bold;
     &:first-letter{
         color: #ffc600;
        }

      
    }
}
.about-sublime-top-text {
    max-width: 597px;
    // position: relative;
    &:before{
        content: '';


    }
    
    // &:before{
    //     content: '';
    //     display: block;
    //     height: 10px;
    //     width: 1px;
    //     margin-right: 100px;
    //     background: green;
        
        // content: '';
        // position: absolute;
        // height: 124px;
        // width: 1px;
        // left: -21px;
        // top: 10px;
        // background-color: #ffc600;
    // }
    margin: 36px 3px 0 397px;
		&__first {
            font-size: 16px;
            color: #000000;
            font-style: oblique;
            
        }

		&__second {
            margin: 24px 20px 0 0;
            font-size: 14px;
            color:#595959;

        }
    }
}