
.about-sublime-top {
    display: flex;


 .about-sublime-title {
     display: flex;
     flex-direction: column;
     line-height: 50px;
     margin: 68px 0 0 137px;
     position: relative;
    &:after{
     content: '';
     width: 95px;
     background-color: #c5c5c5;
     position: absolute;
     height: 1px;
     bottom: 3px;
     margin-left: -25px;
     left: 65%;
    }
    &__about {
     font-size: 30px;
     color: #717171;
     font-weight: bold;
        &:first-letter{
            font-size: 50px;
        }    
    }
    &__Sublime {
     font-size: 80px;
     color: #000000;
     font-weight: bold;
     &:first-letter{
         color: #ffc600;
        }

      
    }
 }
 .about-sublime-top-text {
     max-width: 597px;
     display: flex;
     align-items: center ; 
     margin: 36px 3px 0 397px; 
    &:before{
        content: '';
        display: flex;
        flex: 1 0 auto;
        height: 103px;
        width: 2px;
        margin-right: 15px;
        background-color: #c5c5c5;
    }
     
        &__first-text {
            font-size: 16px;
            color: #111111;
            font-style: oblique;            
        }

		&__second-text {
            margin: 24px 20px 0 0;
            font-size: 14px;
            color:#595959;

        }

     
		
    }
   
}

.about-sublime-content {
    max-width: 874px;
    width: 100%;
    margin: 0 auto ;

    &__row {
        margin-top: 72px;
       
    }

    &__items {
        display: flex;
        justify-content: space-between;       
             
    }

    &__item {
        max-width: 231px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
        
        
        
    }

    &__item-img {
        width: 56px;
        height: 56px;
        border-radius: 50% ;
        border: 2px solid #ffa800;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 21px;
        background-color: #e8e8e8;
    }

    &__item-title {
        display: block;
        margin-bottom: 25px;
        font-size: 18px;
        color: #000000;
    }

    &__item-first-text {
        text-align: center;
        padding: 0 23px 0;
        margin-bottom: 19px;
        font-size: 10px;
        color: #000000;
      
    }

    &__item-second-text {
        padding: 0 23px 0;
        text-align: center;
        font-size: 10px;
        color: #000000;
        
    }
}




