<section class="main">
    <div class="main-sidebar">
        <div class="main-sidebar__title">
            Sublime
        </div>
        <ul class="main-sidebar-menu">
            <a href="">
                <li class="main-sidebar-menu__link">HOME</li>
            </a><a href="">
                <li class="main-sidebar-menu__link">ABOUT SUBLIME</li>
            </a><a href="">
                <li class="main-sidebar-menu__link">OUR WORKS</li>
            </a><a href="">
                <li class="main-sidebar-menu__link">SERVICES</li>
            </a><a href="">
                <li class="main-sidebar-menu__link">TEAM</li>
            </a><a href="">
                <li class="main-sidebar-menu__link">TESTIMONIALS</li>
            </a><a href="">
                <li class="main-sidebar-menu__link">BLOG</li>
            </a><a href="">
                <li class="main-sidebar-menu__link">CLIENTS</li>
            </a><a href="">
                <li class="main-sidebar-menu__link">CONTACT US</li>
            </a>     
        </ul>
        <div class="main-sidebar-imgs">
            <div class="main-sidebar-imgs__link">
                <a href=""><img src="../../img/main/Layer 51 copy.png" alt="">
                </a>
            </div>
            <div class="main-sidebar-imgs__link">
                <a href="">
                    <img src="../../img/main/Layer 49 copy.png" alt="">
                </a>
            </div>
            <div class="main-sidebar-imgs__link">
                <a href="">
                    <img src="../../img/main/Layer 50 copy.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="main-content__title"></div>
    </div>
</section>