@import './partials/zeroing.scss';
@import './partials/swipper/swipper.scss';
@import './partials/article/articles.scss';
@import './partials/icons/icons.scss';
@import './partials/swipper/small-swipper.scss';

@font-face {
  font-family: 'Sans';
  src: url('../fonts/Sansreg.ttf');
}
@font-face {
  font-family: 'Serif';
  src: url('../src/fonts/PTSerif-Regular.ttf');
}

$fs:18px;
$lh:19px;
$fw:700;


%tplfontH {
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #c80000;
  font-weight: 400;
  font-family: "Serif";
}

%tplfontcontent {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 18px;
  color: #333333;
  font-weight: 400;
  font-family: 'Sans';
  }

  %tplfontweight {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 20px;
    color: #333333;
    font-weight: 700;
    font-family: "Sans";
  }

  a>p {
    @extend %tplfontcontent;
    &:hover{
      color: #3d76cc;
      text-decoration: underline
    } 
  }

  p>span {
    font-size: 11px;
    color: #bfbfc0
  } 

  a>.some-weight {
    @extend  %tplfontweight;
    padding-bottom: 20px;
   
  }

  h1 {
    @extend %tplfontH;
  }

 
  

body *:not(.swiper-button-next, 
.swiper-button-prev){
    outline: 1px solid lightgrey;
    // background-color: #fff;
    
  }
  
.page {

  &-body {
    width: 100%;
    max-width: 976px;
    margin: 0 auto;
    padding: 30px 0px 67px;
    

  }


  &__main {
    display: flex;
    
  }

  &__first-column {
    width: 100%;
    max-width: 638px;
    padding: 0 18px;

  }

  &__second-column {
    width: 100%;
    max-width: 338px;
    padding-right: 18px;
  }

  &__footer {
    padding: 0 18px;
  }
}
.hot-themes {
  border-bottom: 5px solid #c70000;
  margin-bottom: 30px;

  &__header {
    background-color: #d7d8d9;
    margin-bottom: 21px;
    @extend %tplfontcontent;
    font-size: $fs;
    line-height: $lh;
    &>span {
      display: inline-block;
      padding: 5px 12px;  

    }
    &>.black {
      background-color:#333333;
      color: #ffffff;
    }

  }
}


  
.columns {
  display: flex;

  &__first-column {}

  &__second-column {
    position: relative;
    padding-left: 18px;

    &--row{
      padding-left: 7px;
    }
    .icon-foto--text {
      font-weight: $fw;
      
    }
  }
}
.main-news {
  margin-bottom: 52px;
}
.row {
}
.section-header {
}
.items {
  display: flex;
  &--column, &--sidebar{
    display: flex;
    flex-direction: column;
  }
  
  

}
.item {
  width:100%;


  &--sidebar{
    display: flex;
  }

  &-article {
    padding-bottom: 20px;
  }
  

   img {
     max-width: 100%;
   } 

}

.item__img>img {
  width: 100%;
}

.items-row>.item {
  padding-right: 18px;

}

.items-row>.item:last-child{
  padding-right: 0;
}



.last-news-newsfeed {
}
.video {

  &__header {}
}
.articles {
  border-bottom: 5px solid #333333;

  &__header {}
}
.overview {
  border-bottom: 2px solid #333333;
}


