@import './partials/zero.scss';

 body *{
    outline: 1px solid lightgrey;
    background-color: #ffffff;
  }

.page {

  &__body {
    width: 100%;
    max-width: 976px;
    margin: 0 auto;
    padding: 30px 0px 67px; 
  }

  &__main {
    display: flex;
  }

  &__first-column {
    width: 100%;
    max-width: 638px;
  }

  &__second-column {
    width: 100%;
    max-width: 338px;
  }

  &__footer {}
}
.hot-themes {

  &__header {}
}
.columns {
  display: flex;

  &__first-column {}

  &__second-column {}
}
.main-news {
}
.row {
}
.section-header {
}
.items {
  display: flex;
}
.item {
  width:100%;
 
  
}
.last-news-newsfeed {
}
.video {

  &__header {}
}
.articles {

  &__header {}
}
.overview {
}

