body  * {
  // outline: 1px solid black;
  // background-color: aqua;
}

.content {
  padding: 125px 0 290px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  width: 842px;
}

span {
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  
}

.s {
  margin: 0 0 28px;

}

li:before {
  content: ' ';
  background: url('./img/li.svg') left no-repeat;
  width: 10px;
  height: 10px;
  padding-left: 40px;
 

}

li {
  list-style-type: none;

}


li:hover:after{
  content: ' ';
  background: url('./img/li.svg') right no-repeat;
  width: 10px;
  height: 10px;
  padding-right: 40px;

}



//  li {
//    margin: 0 0 20px;
//    background: url('./img/li.svg') left  no-repeat;
//    padding-left: 40px;
//    list-style-type: none;
//  }

.span {
  position: absolute;
  left: 240px;
  top: 425px
  
}

 .hover:hover{
   color: #d55a5a;
  
 }

//  .hover{
//    background: url("./img/check\ icon.png") left/2.5% no-repeat ;
 
//  }

.hover:before{
  content: '';
  background: url('./img/check\ icon.png') left no-repeat;
  width: 20px;
  height: 20px;
  padding-left: 40px;
}
 
.content-first {
}
.content-first__table li:nth-child(1) {
  text-decoration: line-through;
}

.content-first__table li:nth-child(2) {
  font-weight: 700;
  
}

.content-first__table li:nth-child(3) {
  font-style: oblique;
  
}

.content-first__table li:nth-child(4) {
  text-transform: uppercase;
  
}




.button {
  display: flex;
  margin: 110px 20px 90px;
  justify-content: space-between;
 

  &-storys{
    display: flex;
    flex-direction: column;
    justify-content: center;
     
    
  }
  

  
}

.button .button-story{
  padding-top: 40px;
  display: flex;
}
.button-story__stylez {
  background-color: rgba(128,183,179,0.54);
  border-radius: 20px;
  text-align: center;
  width: 195px;
  height: 45px;
  text-decoration: none;
  box-shadow: 0 0 20px 4px black;
 
}

a>span::after { 
  content: '';
  background: url('./img/Shape\ 2.svg') right no-repeat;
  padding-right: 40px;
  width: 10px;
  height: 10px;
  
}

.hver:hover{
  background-color: #3a5856;
}


.ver:active {
  background-color: #818181;
}



.button-story {

		&__style {}
}
.input {
  display: flex;
  align-items: center;
  

}

.input, .button{
  margin: 0 0 0 39px;
}

.own {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 40px;
  padding-bottom: 39px;
}

.input-text {
}
.zero {
}
.focus:focus {
  outline: 1px solid #7fbed5;
  box-shadow: 0 0 5px 5px #7fb;
}
  

.input-text {
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 20px;
}


.red:first-line {
  font-size: 18px;
  line-height: 28px;
  color: #ff0000;
  font-family: "Arial";
  text-align: right;
}
.upper::first-letter {
  font-size: 18px;
  line-height: 28px;
  color: #ff0000;
  font-family: "Arial";
  text-align: right;

}


.about{
  position: relative;
  text-align: center;
}

.about__about:after{
  content: '';
  width: 50px;
  background-color: #000;
  position: absolute;
  height: 1px;
  bottom: 0;
  margin-left: -25px;
  left: 50%;


}