 <div #swiperRef="" id="slider2" class="swiper mySwiper2">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide-active--small">
        <div class="columns">
            <div class="columns__first-column">
              <img src="./img/hot-themes/Layer 160.png" alt="Jurgen Klopp">
            </div>
            <div class="columns__second-column">
              <a href="#">
                <h1>Jurgen Klopp makes a sexy Liverpool</h1>
                <p class="hot-themes__text">Liverpool outcast Jose Enrique set to be handed lifeline by Jurgen Klopp </p>
              </a>
            </div>
          </div>        
      </div>
      <div class="swiper-slide swiper-slide-active--small">
        <div class="columns">
            <div class="columns__first-column">
              <img src="./img/hot-themes/Layer 160.png" alt="Jurgen Klopp">
            </div>
            <div class="columns__second-column">
              <a href="#">
                <h1>Jurgen Klopp makes a sexy Liverpool</h1>
                <p class="hot-themes__text">Liverpool outcast Jose Enrique set to be handed lifeline by Jurgen Klopp </p>
              </a>
            </div>
          </div>        
      </div>
      <div class="swiper-slide swiper-slide-active--small">
        <div class="columns">
            <div class="columns__first-column">
              <img src="./img/hot-themes/Layer 160.png" alt="Jurgen Klopp">
            </div>
            <div class="columns__second-column">
              <a href="#">
                <h1>Jurgen Klopp makes a sexy Liverpool</h1>
                <p class="hot-themes__text">Liverpool outcast Jose Enrique set to be handed lifeline by Jurgen Klopp </p>
              </a>
            </div>
          </div>        
      </div>
      <div class="swiper-slide swiper-slide-active--small">
        <div class="columns">
            <div class="columns__first-column">
              <img src="./img/hot-themes/Layer 160.png" alt="Jurgen Klopp">
            </div>
            <div class="columns__second-column">
              <a href="#">
                <h1>Jurgen Klopp makes a sexy Liverpool</h1>
                <p class="hot-themes__text">Liverpool outcast Jose Enrique set to be handed lifeline by Jurgen Klopp </p>
              </a>
            </div>
          </div>        
      </div>
    </div>
    <div class="swiper-button-next swiper-button-next--small"></div>
    <div class="swiper-button-prev swiper-button-prev--small"></div>
  </div> 
