<div #swiperRef="" class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="item">
         <a href="#" class="item-link">
           <span class="item-link__title">Знакомства</span>
           <img src="../../img/overview/Layer 140.png" alt="">
           <p class="item-link__text">Отношения актеров в кино и в реальной жизни</p>
         </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="item">
         <a href="#" class="item-link">
           <span class="item-link__title">Знакомства</span>
           <img src="../../img/overview/Layer 141.png" alt="">
           <p class="item-link__text">Отношения актеров в кино и в реальной жизни</p>
         </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="item">
         <a href="#" class="item-link">
           <span class="item-link__title">Знакомства</span>
           <img src="../../img/overview/Layer 142.png" alt="">
           <p class="item-link__text">Отношения актеров в кино и в реальной жизни</p>
         </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="item">
         <a href="#" class="item-link">
           <span class="item-link__title">Приколы</span>
           <img src="../../img/overview/Layer 143.png" alt="">
           <p class="item-link__text">Отношения актеров в кино и в реальной жизни</p>
         </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="item">
         <a href="#" class="item-link">
           <span class="item-link__title">Авто</span>
           <img src="../../img/overview/Layer 144.png" alt="">
           <p class="item-link__text">Отношения актеров в кино и в реальной жизни</p>
         </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="item">
          <a href="#" class="item-link">
            <span class="item-link__title">Приколы</span>
             <img src="../../img/overview/Layer 145.png" alt="">
             <p class="item-link__text">Отношения актеров в кино и в реальной жизни</p>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="item">
         <a href="#" class="item-link">
           <span class="item-link__title">Знакомства</span>
           <img src="../../img/overview/Layer 146.png" alt="">
           <p class="item-link__text">Отношения актеров в кино и в реальной жизни</p>
         </a>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div> 